<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

<h1 >
    Coronavirus Country Wise Data:

</h1>
<br>
<br>


{{#each info as |val key|}}

<h2 style= "text-align: center;">
    {{val.country}}
</h2>

<h3 style="text-align: center;" class="text-warning">
    Total Cases: {{val.cases}}
</h3>
<h3 style="text-align: center;" class="text-success">
    Total Recovered : {{val.recovered}}
</h3>
<h3 style="text-align: center;" class="text-danger">
    Total Deaths: {{val.deaths}}
</h3>




<img class="centre" src ="{{val.countryInfo.flag}}"/> <br> <br> <br>

{{/each}}

<style>
    body{
        background-color: rgb(220, 230, 222);
    }
    .centre{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
            font-size: 3.75em;
            font-family: serif;
            color: transparent;
            text-align: center;
            animation: effect 2s linear infinite;
            text-align: center;
            \ 
        }
    @keyframes effect {
            0% {
                background: linear-gradient(
                        #00807c, #6cc2c4);
                -webkit-background-clip: text;
            }
  
            100% {
                background: linear-gradient(
                        #1a2927, #07081b);
                -webkit-background-clip: text;
            }
        }
</style>